@font-face {
	font-family: 'LLPixel'; /*a name to be used later*/
	src: url('./images/LLPIXEL3.ttf'); /*URL to font*/
}
@font-face {
	font-family: 'Forced Square';
	src: url('./images/FORCED SQUARE.ttf');
}
@font-face {
	font-family: '8Bit Wonder';
	src: url('./images/8-BIT WONDER.ttf');
}
@font-face {
	font-family: 'Pixel Bubble';
	src: url('./images/04B_30__.ttf');
}
@font-face {
	font-family: 'Pixel Azure Bonds';
	src: url('./images/Pixel Azure Bonds.otf');
}

html {
    height: 100%;
    min-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: #2a233f;
    background-repeat:no-repeat;
    background: -webkit-linear-gradient( to top, #15111b, #2a233f);
    background: -moz-linear-gradient( to top, #15111b, #2a233f);
    background: -ms-linear-gradient( to top, #15111b, #2a233f);
    background: -o-linear-gradient( to top, #15111b, #2a233f);
    background: linear-gradient( to top, #15111b, #2a233f);
}
body {
	color: #ab6d50;
}
div {
	padding:5px;
}
div.panel  {
	padding: 10px;
	margin: 5px;
}
.container {
	text-align: center;
}
#canvases {
	position: relative;
}
canvas.real  {
	border: solid 1px black;
	position:absolute;
}
#buttons {
	padding: 10px;
	border: solid 1px black;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	height: 63px;
	background-image: url('./images/panel_bg.png');
	background-repeat: repeat-x;
}
button {
	font-family: 'Pixel Azure Bonds';
}
#info {
	padding: 10px;
	border: solid 1px black;
	font-family: 'Pixel Azure Bonds';
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	height: 63px;
	background-image: url('./images/panel_bg.png');
	background-repeat: repeat-x;
}
span {
	border: solid 1px black;
	background-color: #482e22;
	padding: 5px;
	margin: 5px;
}
#dsp_level {
	//font-family: 'LLPixel';
}
#dsp_time {
	//font-family: 'LLPixel';
}
#dsp_steps {
	//font-family: 'LLPixel';
}
#dsp_lives {
	//font-family: 'LLPixel';
}
.button {
	border:1px solid #63402f;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size:12px;
	font-family:arial, helvetica, sans-serif;
	padding: 3px 10px 3px 10px;
	text-decoration:none;
	display:inline-block;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	font-weight:bold;
	color: #ab6d50;
	background-color: #63402f;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#63402f), to(#734936));
	background-image: -webkit-linear-gradient(top, #63402f, #734936);
	background-image: -moz-linear-gradient(top, #63402f, #734936);
	background-image: -ms-linear-gradient(top, #63402f, #734936);
	background-image: -o-linear-gradient(top, #63402f, #734936);
	background-image: linear-gradient(to bottom, #63402f, #734936);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#63402f, endColorstr=#734936);
}

.button:hover {
	border:1px solid #482e22;
	background-color: #c5bb83; background-image:
	-webkit-gradient(linear, left top, left bottom, from(#482e22), to(#63402f));
	background-image: -webkit-linear-gradient(top, #482e22, #63402f);
	background-image: -moz-linear-gradient(top, #482e22, #63402f);
	background-image: -ms-linear-gradient(top, #482e22, #63402f);
	background-image: -o-linear-gradient(top, #482e22, #63402f);
	background-image: linear-gradient(to bottom, #482e22, #63402f);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#482e22, endColorstr=#63402f);
}